<div class="container">
  <div class="row">
    <div class="col">
      <h3>Consultar estoque</h3>
    </div>
  </div>
  <div class="row" >
    <div class="col">

		<form>
		  <div class="form-row">
		  	<input type="text" ng-model="pesquisa" class="form-control" placeholder="Procurando... ?">
		  </div>
		  &nbsp;
		  <div class="form-group">
		    <a href="syspdv/#/estoque/0" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
			<button type="submit" class="btn btn-primary " ng-click="consultar()"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Todos</button>
		    <hr>
		  </div> 

		</form>
		
			<select class="form-control" id="selGrupo" ng-model="estoque.secao" ng-options="secao.SECDES for secao in secoes track by secao.SECCOD" ng-change="consultarPorSecao();" style="width: 50%;float: left;">
				<option value="">Seção</option>
			</select>
			
			<select class="form-control" id="selGrupo" ng-model="estoque.grupo" ng-options="grupo.GRPDES for grupo in grupos track by grupo.GRPCOD" ng-change="consultarPorGrupo();" style="width: 50%">
				<option value="">Grupo</option>
			</select>
						
		<table class="table table-striped table-hover table-bordered table-sm">
			<thead>
				<tr>
					<th  ng-click="sortData('ID')" width="43px"># <span ng-class="getSortClass('ID')"></span></th>
					<th ng-click="sortData('PRODES')">NOME <span ng-class="getSortClass('PRODES')"></span></th>
					<th ng-click="sortData('ESTATU')" width="3%">EST <span ng-class="getSortClass('ESTATU')"></span></th>
					<th width="3%">E</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="estoque in estoques | filter:pesquisa | orderBy:sortColumn:reverseSort">
					<td>{{ estoque.ID }}</td>
					<td>{{ estoque.PRODES }}</td>
					<td ng-class="setEstoqueMin(estoque.ESTATU, estoque.PROESTMIN);">{{ estoque.ESTATU }}</td>
					<td><a href="syspdv/#/estoque/{{estoque.PROCOD}}"><img src="syspdv/static/img/alterar.png"  width="22px"/></a></td>
				</tr>
			</tbody>
		</table>

    </div>
  </div>
</div>